@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%; /* Full viewport height */
  min-height: 100vh; /* Minimum height is also full viewport height */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
